* {
  font-family: Roboto, serif;
  background-color: #2b343b;
  color: #fffbff;
}

.highscore-container {
  color: orange;
}

#timer-container {
  color: orange;
}

#start-button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60vh;
  flex-direction: column;
}

#start-button-container h1 {
  margin: 0;
}

#startBtn {
  width: 200px;
  height: auto;
  font-size: x-large;
  border-radius: 12px;
  border: none;
  background-color: #808A9F;
}

#startBtn:hover {
  background-color: orange;
}

header {
  display: inline-flex;
  padding: 20px;
  width: 95vw;
  height: 20px;
  justify-content: space-between;
}

button {
  width: 50vw;
  font-size: large;
  height: auto;
  background-color: lightslategrey;
  border: none;
  border-radius: 12px;
}

button:hover {
  background-color: orange;
}

.megaContainer {
  text-align: center;
  display: flex;
  font-size: large;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}

.question {
  color: orange;
}
